#main-container {
    display: flex;
    min-height: 100vh;
}

#left-side {
    width: 50%;
}

#fixed-box {
    width: calc(50% - 20px);
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px;
    overflow: scroll;
    height: calc(100vh - 20px);
    border: 2px solid gray;
    border-radius: 5px;
}

@media screen and (max-width: 900px) {
    #fixed-box {
        width: calc(100% - 480px);
    }
}

#explanation-box {
    display: flex;
}

#explanation-instructions {
    flex: 1;
    background-color: lightgray;
    padding: 5px;
    font-size: 14px;
}

#variable-region {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    background-color: lightgray;
    padding: 3px;
    padding-bottom: 0px;
    padding-top: 5px;
}

#variable-1 {
    margin-bottom: 5px;
}

#string-1 {
    height: 25px;
}

#equation-region {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#equation-input {
    width: 100%;
}

#equation-submit {
    margin-top: 5px;
}

#right-side {
    width: 50%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 450px;
}

#reset-box {
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-box-blank {
    width: 400px;
    height: 200px;
    background-color: darkslategray;
    padding: 3px;
    color: white;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.profile-box {
    width: 400px;
    background-color: darkslategray;
    padding: 3px;
    color: white;
    margin: 10px;
}

.profile-top {
    font-weight: bold;
    text-align: center;
}

.profile-inner {
    border: 1px solid white;
    padding: 3px;
    margin: 5px;
}

.profile-b {
    display: flex;
}

.profile-b-left {
    flex: 1;
}

.profile-b-right {
    flex: 3;
    padding: 3px;
    padding-left: 8px;
    display: flex;
    align-items: center;
}

.profile-d {
    display: flex;
    justify-content: space-between;
}

.profile-e {
    text-align: center;
}
