#main-container {
    display: flex;
    min-height: 100vh;
}

#left-side {
    background-color: green;
    width: 50%;
}

#fixed-box {
    background-color: white;
    width: calc(50% - 30px);
    position: fixed;
    top: 15px;
    left: 15px;
    overflow: hidden;
    padding: 15px;
}

@media screen and (max-width: 900px) {
    #fixed-box {
        width: calc(100% - 480px);
    }
}

#explanation-box {
    display: flex;
}

#explanation-instructions {
    width: calc(100% - 200px);
    background-color: orange;
}

#equation-region {
    margin-top: 30px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#equation-input {
    width: 100%;
}

#right-side {
    width: 50%;
    background-color: yellow;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 450px;
}

.profile-box {
    width: 400px;
    background-color: darkslategray;
    padding: 3px;
    color: white;
    margin: 10px;
}

.profile-top {
    font-weight: bold;
    text-align: center;
}

.profile-inner {
    border: 1px solid white;
    padding: 3px;
    margin: 5px;
}

.profile-b {
    display: flex;
}

.profile-b-left {
    flex: 1;
}

.profile-b-right {
    flex: 3;
    padding: 3px;
    padding-left: 8px;
    display: flex;
    align-items: center;
}

.profile-d {
    display: flex;
    justify-content: space-between;
}

.profile-e {
    text-align: center;
}
