#index-container {
    width: 100vw;
    min-height: 100vh;
    background-color: lightgray;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#puzzle-container {
    width: 100vw;
    min-height: 100vh;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#puzzle-header {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

#control-row {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

#puzzle-box {
    width: calc(100% - 20px);
    max-width: 400px;
    height: 400px;
    background-color: lightgray;
    border: 5px solid navy;
}

.puzzle-row {
    width: 100%;
    display: flex;
}

.puzzle-cell {
    height: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell-image {
    height: 60%;
    width: 60%;
}

.change-cell {
    background-color: #3295a8;
}

#bottom-row {
    margin-top: 10px;
    margin-bottom: 10px;
}

#top-panel-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

#top-panel {
    position: fixed;
    margin-top: 3px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid navy;
    color: navy;
    width: 250px;
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: white;
    opacity: 0.8;
}

#main-panel {
    padding-top: 50px;
    text-align: center;
    padding-bottom: 30px;
}

#correct-region {
    font-size: 40px;
}

#pi-input {
    color: green;
    font-size: 40px;
    width: 150px;
}







