{% extends "base.html" %}
{% block body %}

<div id="main-container">
    <div id="control-row">
        <select id="size-select" style="margin-right: 5px;">
            <option value="3">3 X 3</option>
            <option value="4">4 X 4</option>
            <option value="5">5 X 5</option>
            <option value="6">6 X 6</option>
            <option value="7">7 X 7</option>
            <option value="8">8 X 8</option>
        </select>
        <select id="level-select" style="margin-right: 5px;">
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="difficult">Difficult</option>
        </select>
        <button id="gen-puzzle">Make Puzzle</button>
    </div>
    <div id="puzzle-box">
        
    </div>
</div>

<script src="/static/play/js/index.js"></script>

<script>
    setPuzzleRoom();
</script>

{% endblock %}
