{% extends "base.html" %}
{% block body %}

<div id="top-panel-container">
    <div id="top-panel">
        <div id="count-region">
            <div id="enter-count-div">
                <button id="enter-count">Start At </button>
                <input id="input-count">
            </div>
            <div style="display: none;" id="counter"></div>
        </div>
        <div id="reset-div">
            <button style="display: none;" id="reset-enter">Reset</button>
            <div style="display: none;" id="reset-confirm-div">
                Are you sure?
                <button id="reset-confirm">Yes</button>
                <button id="reset-quit">No</button>
            </div>
        </div>
    </div>
</div>

<div style="display: none;" id="main-panel">
    <div id="correct-region"></div>
    <input id="pi-input">
</div>

{{ pi_text|json_script:"pi_text" }}

<script src="/static/play/js/pi.js"></script>

{% endblock %}
