{% extends "base.html" %}
{% block body %}

<div id="main-container">
    <div id="left-side">
        <div id="fixed-box">
        
            <div id="explanation-box">
                
                <div id="explanation-instructions">
                    <strong>Social media platforms suggest friends for you. But how?</strong><br>
                    Twenty social media profiles - simlar to the one on the right - have been randomly selected.
                    Create an expression that will score each profile, so that they 
                    can be ranked from least to most desirable, whatever that means. Use the variables 
                    below in your expression.
                    <br><br>
                    l = length of profile description in characters
                    <br>
                    x = number of followers
                    <br>
                    y = number of people following
                    <br>
                    p = posts
                    <br>
                    a = age of account in days
                </div>
            
                <div class="profile-box" style="font-size: 8px; width: 250px; margin: 0px; margin-left: 5px;">
                    <div class="profile-a profile-inner">
                        <img src="{{profile.banner}}" width="100%">
                    </div>
                    <div class="profile-b profile-inner">
                        <div class="profile-b-left">
                            <img src="{{profile.picture}}" width="100%">
                        </div>
                        <div class="profile-b-right">
                            <div>
                                {{profile.username}}
                                <br>
                                {{profile.display_name}}
                            </div>
                        </div>
                    </div>
                    <div class="profile-c profile-inner">
                        {{profile.description}}
                    </div>
                    <div class="profile-d profile-inner">
                        <div>
                            {{profile.followers}} Followers
                        </div>
                        <div>
                            {{profile.following}} Following
                        </div>
                        <div>
                            {{profile.posts}} Posts
                        </div>
                    </div>
                    <div class="profile-e profile-inner">
                        Profile created {{profile.age}} days ago.
                    </div>
                </div>
                
            </div>
            
            <div id="variable-region">
                <input id="variable-1" style="width: 40px;">
                &nbsp= number of occurences of the string&nbsp
                <input id="string-1" style="flex: 1;">
            </div>
            
            <div id="equation-region">
                <input id="equation-input">
                <button id="equation-submit">Submit</button>
            </div>
            
        </div>
    </div>

    <div id="right-side">
        <div id="reset-box">
            <button id="reset-button">Reset with new profiles</button>
        </div>
        <div id="profile-container"></div>
    </div>
</div>






{{ profiles|json_script:"profiles" }}

<script src="/static/play/js/sma.js"></script>

{% endblock %}
